@charset "UTF-8";

*:focus {
	outline: none;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-post-container {
	width: 60%;
}

.form-post-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5rem;
	margin-bottom: 1rem;
	background-color: #ffffff;
	padding: 1rem;
	border: .1rem solid #bfbfbf;
	border-radius: .3rem;
}

.form-post-container form>* {
	width: 100%;
}

.form-post-container form>*>* {
	width: 90%;
}

.form-title {
	margin-bottom: 1rem;
	text-align: center;
	color: #7f7f7f;
}

.form-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5rem;
	margin-bottom: 1rem;
}

input {
	font-size: 1rem;
	border: .1rem solid #7f7f7f;
	border-radius: .3rem;
	font-weight: 200;
	padding: .5rem;
	width: 100%;
}

textarea {
	font-size: 1rem;
	border: .1rem solid #7f7f7f;
	border-radius: .3rem;
	font-weight: 200;
	padding: .5rem;
	width: 100%;
	min-height: 8rem;
	resize: vertical;
}

input[type="submit"] {
	border: none;
	background: #3498db;
	color: #ffffff;
	transition: .3s;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #2980b9;
}
